
#### control flow

-if..else
-if..elif..else
-nested if else
-single line if else

for loops
while loops

### if elif else

In [1]:
total_amount =90+45+1000
print(f"cart:{total_amount}")
if total_amount >1000:
    price_after_discount =total_amount*0.7
    print(f"pay amount:{price_after_discount}")

elif total_amount<=999 and toatal_amount>499:

    price_after_discount =total_amount*0.8

    print(f"pay amount:{price_after_discount}") 
else:
    print(f"pay amount:{total_amount}")

cart:1135
pay amount:794.5

In [3]:
total_amount =90+450
print(f"cart:{total_amount}")
if total_amount >1000:
    price_after_discount =total_amount*0.7
    print(f"pay amount:{price_after_discount}")

elif total_amount<=999 and total_amount>499:

    price_after_discount =total_amount*0.8

    print(f"pay amount:{price_after_discount}") 
else:
    print(f"pay amount:{total_amount}")

cart:540
pay amount:432.0

In [4]:
total_amount =90+45+1000
print(f"cart:{total_amount}")
if total_amount >1000:
    price_after_discount =total_amount*0.7
    print(f"pay amount:{price_after_discount}")

elif 499<total_amount<=999 :

    price_after_discount =total_amount*0.8

    print(f"pay amount:{price_after_discount}") 
else:
    print(f"pay amount:{total_amount}")

cart:1135
pay amount:794.5

In [5]:
total_amount =90+45+1000
print(f"cart:{total_amount}")
if total_amount >1000:
    price_after_discount =total_amount*0.7
    print(f"pay amount:{price_after_discount}")

if total_amount<=999 and toatal_amount>499:

    price_after_discount =total_amount*0.8

    print(f"pay amount:{price_after_discount}") 
else:
    print(f"pay amount:{total_amount}")

cart:1135
pay amount:794.5
pay amount:1135

In [10]:
total_amount =90+45+100+923+350
print(f"cart:{total_amount}")
if total_amount>1499:
    price_after_discount =total_amount*0.6
    print(f"pay amount:{price_after_discount}")

elif total_amount >1000:
    price_after_discount =total_amount*0.7
    print(f"pay amount:{price_after_discount}")

elif total_amount<=999 and toatal_amount>499:

    price_after_discount =total_amount*0.8

    print(f"pay amount:{price_after_discount}") 
else:
    print(f"pay amount:{total_amount}")

cart:1508
pay amount:904.8

### nested if else

In [14]:
val =float(input("enter anumber"))

if val>=0:
    if val==0:
        print("its zero")
    else:
        
        print("its a positive no")        
else:
    print("negative number")

enter anumber 12

its a positive no

### single line if else

In [21]:
### ok for competitive program
### productive not recommended

val =float(input("enter "))

if val> 99:print("yes")
else:print('no')

enter  67

no

In [20]:
val =float(input("enter "))

if val> 99:print("yes")
else:print('no')

enter  100

yes

In [2]:
value=float(input("enter"))
print("yes" if value > 99 else "no")

enter 100

yes

In [4]:
value = float(input("enter a number"))

print ("yes " if value > 99 else "no")

enter a number 23

no

### loops
* while loops
* for loop
* nested loops
* control loops
 
 -break
 
 -continue
 
 -pass

In [5]:
total_marks=1000
cut_off =400
score =[100,300,250,400,500]

# i will keep on attempting until suceess
year=0
while score[year]<cut_off:
    print(f"i will attempt next year")
    print(f"your score is :{score[year]}")
    year =year+1

i will attempt next year
your score is :100
i will attempt next year
your score is :300
i will attempt next year
your score is :250

In [6]:
score[0
     ]

100

In [7]:
total_marks=1000
cut_off =400
score =[100,300,250,400,500]

# i will keep on attempting until suceess
year=0
while score[year]<cut_off:
    print(f"i will attempt next year")
    print(f"your score is :{score[year]},cut_off:{cut_off}")
    year =year+1

i will attempt next year
your score is :100,cut_off:400
i will attempt next year
your score is :300,cut_off:400
i will attempt next year
your score is :250,cut_off:400

### infintite loop

if the cindition is always true then you keep on print

In [18]:
"""
child is learning to counting 10rupes of note
"""

notes=5
i =1

while i<= notes:
    print(f"current sum:{i*10}")
    i=i+1

current sum:10
current sum:20
current sum:30
current sum:40
current sum:50

In [15]:
notes=10
i =1

while i<= notes:
    print(f"current sum:{i*10}")
    i=i+1

current sum:10
current sum:20
current sum:30
current sum:40
current sum:50
current sum:60
current sum:70
current sum:80
current sum:90
current sum:100

In [ ]:
number=8
i =1
while i<=number:
  print(f"number: {i*3}
i=i+3

In [12]:
stations=["station 01","station 02","station 03"]

current_station =0
destinction_station ="station 03"

while stations[current_station]!= destinction_station:
    print('continue the journey')
    print(f"current station is: {stations[current_station]}")
    print(f"currentstation is:{destinction_station}")
    current_station=current_station+1
    print(f"next station is:{stations[current_station]}")
    print('---')

continue the journey
current station is: station 01
currentstation is:station 03
next station is:station 02
---
continue the journey
current station is: station 02
currentstation is:station 03
next station is:station 03
---

In [7]:
stations=["station 01","station 02","station 03","station 04"]

current_station =0
destinction_station ="station 03"

while stations[current_station]!= destinction_station:
    print('continue the journey')
    print(f"current station is: {stations[current_station]}")
    print(f"currentstation is:{destinction_station}")
    current_station=current_station+1
    print(f"next station is:{stations[current_station]}")
    print('---')
else:
    print(f"i have arrived at:{stations[current_station]}")

continue the journey
current station is: station 01
currentstation is:station 03
next station is:station 02
---
continue the journey
current station is: station 02
currentstation is:station 03
next station is:station 03
---
i have arrived at:station 03

In [8]:
note=5

i=1
while i<=note:
    print(f"condition:{i <=note}")
    print(f"current sum :{i*10}")
    i=i+1
    print("---- ")
else:
    print(f'condition :{i<=note}')
    print ("no more 10rupees notes left")

condition:True
current sum :10
----
condition:True
current sum :20
----
condition:True
current sum :30
----
condition:True
current sum :40
----
condition:True
current sum :50
----
condition :False
no more 10rupees notes left

### for loop

In [9]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
 for u in range(1,20):
        print(u)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
for i in range (0,10):
    print(f"10 X {i}={10*i}")

10 X 0=0
10 X 1=10
10 X 2=20
10 X 3=30
10 X 4=40
10 X 5=50
10 X 6=60
10 X 7=70
10 X 8=80
10 X 9=90

In [5]:
for i in range (0,10):
    print(f"10 X {i+1}={10*(i+1)}")

10 X 1=10
10 X 2=20
10 X 3=30
10 X 4=40
10 X 5=50
10 X 6=60
10 X 7=70
10 X 8=80
10 X 9=90
10 X 10=100

In [6]:
for i in range (1,11):
    print(f"10 X {i}={10*i}")

10 X 1=10
10 X 2=20
10 X 3=30
10 X 4=40
10 X 5=50
10 X 6=60
10 X 7=70
10 X 8=80
10 X 9=90
10 X 10=100

In [9]:
for i in range (0,10):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [10]:
"sunny"*17

'sunnysunnysunnysunnysunnysunnysunnysunnysunnysunnysunnysunnysunnysunnysunnysunnysunny'

In [21]:
list_item =[100,200,300,17]

total_sum=0

for i in range (0,4):
    print(f"{total_sum}={total_sum}+{list_item[i]}")
    total_sum=total_sum+list_item[i]
    
    print(f"after adding total_sum={total_sum}")
    print(" ")
    print(f"total amount to be piad :{total_sum}")

0=0+100
after adding total_sum=100

total amount to be piad :100
100=100+200
after adding total_sum=300

total amount to be piad :300
300=300+300
after adding total_sum=600

total amount to be piad :600
600=600+17
after adding total_sum=617

total amount to be piad :617

In [1]:
list_of_items=[100,82,676,452,272]

total_sum=0
N=len(list_of_items)
for i in range(N):
    print(f"{total_sum}={total_sum}+{list_of_items[i]}")
    total_sum=total_sum+list_of_items[i]
    print(f"after adding total_sum={total_sum} ")
    print("----")
    print(f"total amount to be paid:{total_sum}")

0=0+100
after adding total_sum=100
----
total amount to be paid:100
100=100+82
after adding total_sum=182
----
total amount to be paid:182
182=182+676
after adding total_sum=858
----
total amount to be paid:858
858=858+452
after adding total_sum=1310
----
total amount to be paid:1310
1310=1310+272
after adding total_sum=1582
----
total amount to be paid:1582

In [38]:
Cost_of_items = [100, 200, 129, 456]
#                 0    1    2    3

total_sum = 0

for cost in Cost_of_items: # 0,1,2,3 
  print(f"{total_sum} = {total_sum} + {cost}")
  total_sum = total_sum + cost
  print(f"after adding total_sum={total_sum}")
  print("---")
print(f"Total amount to be paid: {total_sum}")

0 = 0 + 100
after adding total_sum=100
---
100 = 100 + 200
after adding total_sum=300
---
300 = 300 + 129
after adding total_sum=429
---
429 = 429 + 456
after adding total_sum=885
---
Total amount to be paid: 885

In [26]:
len(Cost_of_items)

4

In [27]:
len(list_item)

4

In [39]:
Cost_of_items=[100,748,857,87]

total_sum=0
for cost in Cost_of_items:
    print(cost)

100
748
857
87

In [3]:
Cost_of_items=[8787,879,345,97,908]

total_sum=0
N=len(Cost_of_items)

for i in range(0,N):
    print(Cost_of_items[i])

8787
879
345
97
908