### arthimathic operators

In [1]:
a =34
b=23

a+b

57

In [2]:
q=34
r=45

q-r

-11

In [3]:
a/b
## true dividon and gives float values

1.4782608695652173

In [4]:
## integer division
a//b
### quioent gives

1

In [5]:
a%b
## gives remainder values
## %---modulo

11

In [6]:
s=9
t=2

s//t

4

In [10]:
j=35
g=7

if j%g ==0:
    print (f"j:{j}is divisble by g:{g}")
else:
    print(f"j:{j}is not divisble by g:{g}")

j:35is divisble by g:7

In [8]:
w=78
## to find the square root(half means root of values)
w**(1/2)

8.831760866327848

In [9]:
e=225

e**(1/3)

6.082201995573399

In [11]:
j=24
g=7

if j%g ==0:
    print (f"j:{j}is divisble by g:{g}")
else:
    print(f"j:{j}is not divisble by g:{g}")

j:24is not divisble by g:7

In [14]:
g=125

g**(1/3)

4.999999999999999

### string

it is a immutable because we cannot directly assign  any values by using indexing

In [3]:
name ="veena"

In [4]:
name[1]

'e'

In [5]:
name[0]

'v'

In [6]:
name[-1]

'a'

In [7]:
name[-1:-1:100]

''

In [8]:
name[-0]

'v'

### string slicing

In [15]:
identity =" i am learning full stack data science"

In [10]:
identity[::-1]

'ecneics atad kcats lluf gninrael ma i '

In [11]:
identity.split()

['i', 'am', 'learning', 'full', 'stack', 'data', 'science']

In [12]:
identity[-1:-1:100]

''

In [13]:
identity[::100]

' '

In [14]:
identity[:1:-1]

'ecneics atad kcats lluf gninrael ma '

In [15]:
identity[::-2]

'enisaa ct lfgire ai'

In [17]:
identity[1::2]

'ia erigfl tc aasine'

In [18]:
identity[::-3]

'eest a ugnemi'

In [19]:
identity.upper()

' I AM LEARNING FULL STACK DATA SCIENCE'

In [16]:
identity[1:10]

'i am lear'

In [1]:
name ="veena"

name[1:5]

'eena'

In [2]:
name[2]

'e'

In [20]:
name[0:6]

'veena'

In [21]:
name[-1:0]

''

In [22]:
data ="08/10/2022"

In [24]:
todays_data =data[0:2]
month =data[3:5]
year =data[6:10]

print(f"its {todays_data} th of the month :{month} of the year:{year}")

its 08 th of the month :10 of the year:2022

In [27]:
data =input('enter data of birth in the format dd//mm//yy')

date =data[0:2]
month =data[3:5]
year =data[6:10]

print(f'the user was born in the month of {month} in the year :{year} on data :{date}')

enter data of birth in the format dd//mm//yy 29/04/1998

the user was born in the month of 04 in the year :1998 on data :29

In [29]:

data =input('enter data of birth in the format dd//mmm//yy')



date =data[0:2]

month =data[3:6]

year =data[7:10]



print(f'the user was born inthe month of {month} in the year :{year} on data :{date}')

enter data of birth in the format dd//mmm//yy 29/apr/1998

the user was born inthe month of apr in the year :199 on data :29

In [30]:
Z =input ("enter a name")

if Z == Z[::-1]:
    print(f"{Z},is a palindrome" )
else:
    print(f"{Z},is not a palindrome")

enter a name malayalam

malayalam,is a palindrome

In [31]:
data =input("enter a name")
reverse=data[::-1]

if data ==reverse:
    print(f"{data},is a palindrome")
else:
     print(f"{data}, is not a palindrome")

enter a name radar

radar,is a palindrome

In [32]:
data =input("enter a name")
reverse=data[::-1]

enter a name ashok

In [34]:
print(reverse)

kohsa

### mutablity

In [2]:
name="veena"
### mutable----subject to be change or can be changed
### str---immutable

In [3]:
"s"+name[1:]

'seena'

In [4]:
"gg"+name[2:]

'ggena'

In [5]:
 name ="s"+name[1:]

In [6]:
name

'seena'

In [7]:
name.replace("ee","yy")

'syyna'

In [8]:
name =name.replace("ee","yy")

In [9]:
name

'syyna'

In [10]:
name ="veena KUMARI"

name =name.replace("veena","VEENA")

In [11]:
name

'VEENA KUMARI'

In [12]:
name ="veena KUMARI"

name =name.replace(" ","_")
name

'veena_KUMARI'

In [13]:
len(name)

12

In [16]:
len(identity)

38

In [2]:
name=" ashok  "

name =name.replace(" ","")
name

'ashok'

In [3]:
'i'+name[3:]

'iok'

In [18]:
len(name)

5

In [19]:
name[0]='f'

TypeError: 'str' object does not support item assignment

### count specific charcter

In [4]:
name ="veena"

In [5]:
name.count("e")

2

In [6]:
won ='i am learning english '

In [7]:
won.split()

['i', 'am', 'learning', 'english']

In [10]:

first_name,middle_name,last_name,surname=won.split()
print(f"""
first name:{first_name}
middle name:{middle_name}
last :{last_name}
sur name :{surname}""")

first name:i
middle name:am
last :learning
sur name :english

In [11]:

data =input('enter data of birth in the format dd//mm//yy')
date,month,year =data.split("/")
print(f"the user was born in the month of {month} in the year :{year} on date:{date}")

enter data of birth in the format dd//mm//yy 29/04/1998

['29', '04', '1998']

In [12]:
data =input('enter data of birth in the format dd//mmm//yy')
data.split("/")

enter data of birth in the format dd//mmm//yy 29/april-1998

['29', 'april-1998']

In [15]:
sur ="veena_kumar_i"

sur.split("_")

['veena', 'kumar', 'i']

In [16]:
sur.split("n")

['vee', 'a_kumar_i']

In [18]:
sur.split(".")

['veena_kumar_i']

In [17]:
a,b,c=data.split("/")

ValueError: not enough values to unpack (expected 3, got 2)

In [19]:
data =input('enter data of birth in the format dd//mm//yy')
data.split("/")

enter data of birth in the format dd//mm//yy 29th/april/98

['29th', 'april', '98']

In [20]:
A,B,C=data.split("/")

print(A,B,C)

29th april 98

In [21]:
A=data.split("/")


A

['29th', 'april', '98']

In [23]:
A[2]

'98'

In [24]:
len(A)

3

### lower,upper,title cases

In [25]:
name ="veena kumari"


name.lower()

'veena kumari'

In [26]:

name.upper()

'VEENA KUMARI'

In [27]:
name =input('enter your name: ')
print(f'name in upper case :{name.upper()}')
print(f'name in lower case :{name.lower()}')
print(f'name in title case :{name.title()}')
print(f'name in capitalize case :{name.capitalize()}')
print(f'name in swap case :{name.swapcase()}')

enter your name:  chinta ashok kumar

name in upper case :CHINTA ASHOK KUMAR
name in lower case :chinta ashok kumar
name in title case :Chinta Ashok Kumar
name in capitalize case :Chinta ashok kumar
name in swap case :CHINTA ASHOK KUMAR

In [28]:
name ="today is the best day of my life"
print(f'name in upper case :{name.upper()}')
print(f'name in lower case :{name.lower()}')
print(f'name in title case :{name.title()}')
print(f'name in capitalize case :{name.capitalize()}')
print(f'name in swap case :{name.swapcase()}')

name in upper case :TODAY IS THE BEST DAY OF MY LIFE
name in lower case :today is the best day of my life
name in title case :Today Is The Best Day Of My Life
name in capitalize case :Today is the best day of my life
name in swap case :TODAY IS THE BEST DAY OF MY LIFE

In [29]:
name ="TodaY iS The Best day Of My Life"
print(f'name in upper case :{name.upper()}')
print(f'name in lower case :{name.lower()}')
print(f'name in title case :{name.title()}')
print(f'name in capitalize case :{name.capitalize()}')
print(f'name in swap case :{name.swapcase()}')

name in upper case :TODAY IS THE BEST DAY OF MY LIFE
name in lower case :today is the best day of my life
name in title case :Today Is The Best Day Of My Life
name in capitalize case :Today is the best day of my life
name in swap case :tODAy Is tHE bEST DAY oF mY lIFE

In [30]:
name ="veena"

"** ".join(name)

'v** e** e** n** a'

In [31]:
mi ="parvathi"

"**" .join(mi)

'p**a**r**v**a**t**h**i'

In [33]:
mi ="veena"

mi.join("**")

'*veena*'

In [38]:
mi.replace("","|")

'|v|e|e|n|a|'

In [34]:
name ="veena"

"_ ".join(name)

'v_ e_ e_ n_ a'

In [35]:
name ="veena"

"|".join(name)

'v|e|e|n|a'

In [36]:
"".join(reversed(name))

'aneev'

In [ ]:
b ="  veena  "

b.strip(" ")

'veena'

In [ ]:
name=" veena  "

name.strip(" ")

In [ ]:
name=" veena  "

name.lstrip(" ")

In [ ]:
name=" veena  "

name.rstrip(" ")

In [40]:
name.replace(" ","")

'veena'

### formatting

In [41]:
name ="veena"


name.center(10,"#")

'##veena###'

In [43]:
name.center(20,"$")

'$$$$$$$veena$$$$$$$$'

### checking string cases

In [44]:
name ="ashok"

name.isupper()

False

In [45]:
name.islower()

True

In [48]:
name ="ashok"
name.isspace()

False

In [49]:
name.istitle()

False

In [51]:
name=input("enter your name")

print(f"user input :{name}")

if name.istitle():
    priint(f"user has given correct input")
else:
    print(f"wrong input we need to autocorrect it")
    name = name.title()
    print(f"correct output :{name}")

enter your name chinta veena kumari

user input :chinta veena kumari
wrong input we need to autocorrect it
correct output :Chinta Veena Kumari

In [52]:
name=input("enter your name")

print(f"user input :{name}")

if name.istitle():
    pri  nt(f"user has given correct input")
else:
    print(f"wrong input we need to autocorrect it")
    name = name.title()
    print(f"correct output :{name}")

enter your name

user input :
wrong input we need to autocorrect it
correct output :

In [ ]:
name=input("enter your name")

print(f"user input :{name}")

if name.istitle():
    priint(f"user has given correct input")
else:
    print(f"wrong input we need to autocorrect it")
    name = name.title()
    print(f"correct output :{name}")

In [ ]:
pan_number ="2122  154"
pan_number.isalnum()

In [ ]:
pan_number ="21_)22154"
pan_number.isalnum()

In [ ]:
pan_number="AXPEY6788U"

if pan_number