In [1]:
'ashok'+str(1234)

'ashok1234'

In [2]:
'ashok'+'4456'

'ashok4456'

## variable case sensitivity

In [3]:
ten  =10
Ten =20

In [4]:
print(Ten)

20

In [5]:
print (ten)

10

## reserved words in python

In [7]:
print('hi there')

hi there

In [8]:
print ='hi there'

In [10]:
del print

In [11]:
print('hi there')

hi there

# multi assignment of variables

In [14]:
 a,b,c,d,e=93,98.8,89+3j,'veena',True

In [15]:
type(a),type(b)

(int, float)

In [18]:
type(a,b,d)

TypeError: type.__new__() argument 1 must be str, not int

In [19]:
print(type(a))
print(type(b))
print (type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [20]:
print(a,b,c,d,e)

93 98.8 (89+3j) veena True

In [21]:
x=y=z=20

In [22]:
x,y,z

(20, 20, 20)

In [50]:
surname ,firstname,lastname ="chinta",'veena','kumari'

In [51]:
print(f"{surname}.{lastname}@gmail.com")

chinta.kumari@gmail.com

In [60]:
name,place,birth,weight ="veena","somandepali",29.1998,71.8

In [63]:
print(f"""enter name {name},
live at {place}""")

enter name veena,
live at somandepali

### user input##

In [30]:
q = input ('enter your name')
print ('you have entered {enter your name}')

enter your name parvathi

you have entered {enter your name}

In [71]:
a=float(input('enter value of a:'))
b=int (input('enter value of b:'))

print(a+b)

enter value of a: 89.8
enter value of b: 78

167.8

In [72]:
a=int(input('enter value of a:'))
b=int(input('enter value of b:'))

print(f"sum of value {a}.{b}")

enter value of a: 89
enter value of b: 45

sum of value 89.45

## type casting /type conversion ##

In [34]:
a="59"
print (f"data type before: {type(a)}")
a= int (a)
print(f"data type after:{type(a)}")

data type before: <class 'str'>
data type after:<class 'int'>

In [38]:
a="59.78"
print (f"data type before: {type(a)}")
a= int (a)
print(f"data type after:{type(a)}")

data type before: <class 'str'>

ValueError: invalid literal for int() with base 10: '59.78'

In [41]:
a=89.67
print (f"data type before: {type(a)},value of a:{a}")
a= int (a)
print(f"data type after:{type(a)},value of a:{a}")

data type before: <class 'float'>,value of a:89.67
data type after:<class 'int'>,value of a:89

In [42]:
a=89.78
print (f"data type before: {type(a)},value of a:{a}")
a= int (a)
print(f"data type after:{type(a)},value of a :{a}")

data type before: <class 'float'>,value of a:89.78
data type after:<class 'int'>,value of a :89

In [43]:
a=0
print (f"data type before: {type(a)},value of a:{a}")
a= bool (a)
print(f"data type after:{type(a)},value of a :{a}")

data type before: <class 'int'>,value of a:0
data type after:<class 'bool'>,value of a :False

In [44]:
a=-5
print (f"data type before: {type(a)},value of a:{a}")
a= bool (a)
print(f"data type after:{type(a)},value of a :{a}")

data type before: <class 'int'>,value of a:-5
data type after:<class 'bool'>,value of a :True

In [45]:
a="veena"
print (f"data type before: {type(a)},value of a:{a}")
a= bool (a)
print(f"data type after:{type(a)},value of a :{a}")

data type before: <class 'str'>,value of a:veena
data type after:<class 'bool'>,value of a :True

In [46]:
a="True"
print (f"data type before: {type(a)},value of a:{a}")
a= bool (a)
print(f"data type after:{type(a)},value of a :{a}")

data type before: <class 'str'>,value of a:True
data type after:<class 'bool'>,value of a :True

In [47]:
a="false"
print (f"data type before: {type(a)},value of a:{a}")
a= bool(a)
print(f"data type after:{type(a)},value of a :{a}")

data type before: <class 'str'>,value of a:false
data type after:<class 'bool'>,value of a :True

In [48]:
a=""
print (f"data type before: {type(a)},value of a:{a}")
a= bool(a)
print(f"data type after:{type(a)},value of a :{a}")

data type before: <class 'str'>,value of a:
data type after:<class 'bool'>,value of a :False

In [49]:
a=""
print (f"data type before: {type(a)},value of a:{a}")
a= int (a)
print(f"data type after:{type(a)},value of a :{a}")

data type before: <class 'str'>,value of a:

ValueError: invalid literal for int() with base 10: ''

## memory block ##


id means memory adress

In [73]:
a=22
b=34
c=22

In [83]:
id(a) # mempry is assigned to the value of variable passed not the variable name

140035944578736

In [75]:
id(b)

140035944578384

In [76]:
id(c)

140035944578000

In [77]:
d=45
f=78
h=92

In [78]:
id (d)

140035944578736

In [79]:
id(f)

140035944768272

In [80]:
id(h)

140035944768720

In [81]:
a=45
id(a)

140035944578736

In [82]:
d=34
id(d)

140035944578384

In [86]:
a=45
b=45.6
c=1

print(id(a),id(b),id(c))

140035944578736 140035433324144 140035944577328

## send to mail to 
To query@ineuron.ai
cc suuny@ineuron.ai
subjet:[Bootcamp 2.0 | Assignment no:1]:

1. find out all the types of errors that we encountered in our lecture and why ? also includes examples.
2. take input A and B and print their sum,mul,div,square of the nos.
3.how many reserve key words are there in python and why we should not use them as avariable.
4.create email ids with the user inputs.in the following format
lastname.fristname@gfmail.com
5.try to print the following lines-
- hi i'm sunny
- my adress is22\3
- i earn 20$ daily.
6. take user input(name,address,date of birth etc) to fill a form for your college and print their email ids.
7.covert the following -
-'22.4' into  integer

-'22' into  comlex no.